---
import RootLayout from '@/layouts/root.astro'

import Link from '@/components/Link.astro'
import ContactList from '@/components/ContactList.astro'
import EpicEntry from '@/components/EpicEntry.astro'
import OrgEntry from '@/components/OrgEntry.astro'

import { recivi, orgs, epics } from '@/stores/recivi'
import { site } from '@/stores/site'
import { getPageTitle } from '@/utils/meta'
import { skillDisplay } from '@/utils/recivi'

import '@/styles/print.css'

// Forward all props to the parent layout `RootLayout`.
const { ...attrs } = Astro.props

const pageTitle = getPageTitle('Résumé PDF')
---

<RootLayout
  {...attrs}
  rootClasses={['pdf', 'light-theme', 'text-[12px]', 'leading-snug']}>
  <slot
    slot="head"
    name="head">
    <title>{pageTitle}</title>

    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
      crossorigin=""
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin=""
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Spectral:ital,wght@0,400..800;1,400..800&display=swap"
    />
  </slot>

  <!-- Page -->
  <div
    id="page"
    class="w-[calc(var(--page-width)_-_2_*_var(--page-x-margin))] bg-[repeating-linear-gradient(to_bottom,_transparent_0,_transparent_calc(var(--page-height)_-_var(--page-t-margin)_-_var(--page-b-margin)_-_1px),_var(--color-red)_calc(var(--page-height)_-_var(--page-t-margin)_-_var(--page-b-margin)_-_1px),_var(--color-red)_calc(var(--page-height)_-_var(--page-t-margin)_-_var(--page-b-margin)))] bg-[auto_calc(var(--page-height)_-_var(--page-b-margin)_-_var(--page-t-margin))] print:w-auto print:bg-none">
    <!-- Top segment -->
    <header class="mb-[5mm] text-center">
      <h1 class="font-serif text-xl font-bold">
        <Link url={site.baseUrl}>Dhruv Bhanushali</Link>
      </h1>
      {
        recivi.bio.summary && (
          <p
            class="mb-2"
            set:html={recivi.bio.summary}
          />
        )
      }
      <ContactList />
    </header>

    <!-- Two-pane content -->
    <main class="grid grid-cols-2 gap-[5mm]">
      <!-- Left pane -->
      <div>
        <h2 class="mb-2">Projects</h2>
        <ul>
          {
            epics
              .filter((epic) =>
                epic.projects.some((project) =>
                  project.tags?.includes('resume_pdf')
                )
              )
              .map((epic) => <EpicEntry {epic} />)
          }
        </ul>

        <h2 class="mt-[5mm] mb-2">Other skills</h2>
        {
          recivi.bio.skills?.length ? (
            <ul>
              {recivi.bio.skills?.map((skill) => (
                <Fragment>
                  {/* prettier-ignore */}
                  <li class="inline after:content-[','] last:after:content-none">{skillDisplay(skill)}</li>
                </Fragment>
              ))}
            </ul>
          ) : undefined
        }
      </div>

      <!-- Right pane -->
      <div>
        <h2 class="mb-2">Roles</h2>
        <ul>
          {
            orgs
              .filter((org) =>
                org.roles.some((role) => role.tags?.includes('resume_pdf'))
              )
              .map((org) => <OrgEntry {org} />)
          }
        </ul>
      </div>
    </main>
  </div>
</RootLayout>
