---
/**
 * list all the ways of contacting me
 *
 * All contact links have rel="me" which makes it possible to use them for the
 * purpose of IndieAuth authentication. So if you set up links to your profiles,
 * any website that IndieAuth supports can be used as your identity verification
 * platform.
 */

import Icon from '@/components/Icon.astro'
import Link from '@/components/Link.astro'

import { recivi } from '@/stores/recivi'

const { contact: { emails = [], phones = [] } = {}, profiles = [] } = recivi.bio

const items = [
  emails.map((email) => ({
    icon: Object.freeze({ name: 'mail', source: 'lucide' }),
    name: 'Email',
    url: `mailto:${email}`,
    text: email,
  })),
  phones.map((phone) => ({
    icon: Object.freeze({ name: 'phone', source: 'lucide' }),
    name: 'Phone',
    url: `tel:+${phone.countryCode}${phone.number}`,
    text: `+${phone.countryCode} ${phone.number}`,
  })),
  profiles.map((profile) => ({
    icon: Object.freeze({ name: profile.site.id, source: 'simple_icons' }),
    name: profile.site.name,
    url: 'url' in profile ? profile.url : null,
    text: 'username' in profile ? profile.username : profile.site.name,
  })),
].flat()
---

<ul class="columns-2 pdf:flex pdf:justify-between">
  {
    items.map((item) => (
      <li>
        <div class="flex items-center gap-2">
          <span class="text-peach pdf:text-subtle">
            {item.icon.name && (
              <Icon
                source={item.icon.source}
                name={item.icon.name}
                title={item.name}
              />
            )}
          </span>
          <span class="sr-only">{item.name}</span>
          {item.url ? (
            <Link
              rel="me"
              url={item.url}>
              {item.text}
            </Link>
          ) : (
            item.text
          )}
        </div>
      </li>
    ))
  }
</ul>
