---
import type { Tech } from '@recivi/schema'

import Link from '@/components/Link.astro'
import Icon from '@/components/Icon.astro'
import IconName from '@/components/IconName.astro'
import TimePeriod from '@/components/TimePeriod.astro'
import DateComponent from '@/components/Date.astro'

import type { ColumnSpec, Row } from '@/models/table'

interface Props {
  columns: ColumnSpec[]
  data: Row[]
}
const { columns, data } = Astro.props

const columnIds = columns.map((column) => column.id)

const pathName = new URL(Astro.request.url).pathname

/**
 * Check whether the table entry corresponds to the currently open page.
 *
 * @param row - the table entry
 * @returns whether the current page URL matches the URL of the row
 */
function isCurr(row: Row) {
  return Boolean(row.url) && pathName.includes(row.url ?? '')
}
---

<!-- Padding must be removed because cells are padded individually. -->
<table
  border="1px"
  class="cntnr px-0 transition"
  x-data="{ activeGroup: undefined }">
  <thead class="border-y bg-surface0">
    <tr>
      {
        columns.map((column: ColumnSpec) => (
          <th
            scope="col"
            class:list={[{ 'w-px whitespace-nowrap': !column.isExpanding }]}>
            {column.name ?? column.id}
          </th>
        ))
      }
    </tr>
  </thead>
  <tbody>
    {
      data.map((row, idx) => (
        /*
        In the `tr` element, We use `clip-0` and `translate-x-0` because the
        current row indicator breaks on WebKit. Additionally, we use `::after`
        instead of `::before` because before breaks the table layout by using up
        a cell.
        */
        <tr
          x-data={JSON.stringify({
            groupId: row.groupId ?? idx,
            categories: 'post' in row.data && row.data.post?.data.categories,
          })}
          x-show="!activeCategories.length || activeCategories.some(item => categories.includes(item))"
          x-bind:class="{ 'opacity-30': activeGroup && groupId !== activeGroup }"
          class="clip-0 translate-x-0 transition after:absolute after:inset-y-0 after:start-0 after:bg-peach hover:bg-surface0"
          class:list={{
            'border-b': row.isLastSibling,
            'bg-surface0 after:w-1': isCurr(row),
          }}
          @mouseenter="activeGroup = groupId"
          @mouseleave="activeGroup = ''">
          {Object.entries(row.data)
            .filter(([key]) => columnIds.includes(key as keyof typeof row.data))
            .sort(
              ([a], [b]) =>
                columnIds.indexOf(a as keyof typeof row.data) -
                columnIds.indexOf(b as keyof typeof row.data)
            )
            .map(([key, value], idx) => (
              <td
                class:list={{
                  'w-px whitespace-nowrap': !columns[idx]?.isExpanding,
                }}>
                {key === 'epic' || key === 'org' || key === 'institute' ? (
                  <Fragment>
                    {value && (
                      <IconName
                        {...value}
                        url={row.url}
                        reserveSpace={key !== 'institute'}
                      />
                    )}
                  </Fragment>
                ) : key === 'post' ? (
                  <Fragment>
                    {row.url ? (
                      <Link url={row.url}>{value.data.title}</Link>
                    ) : (
                      value.data.title
                    )}
                    {/* prettier-ignore */}
                    <ul class="text-subtle">
                      {value.data.categories.map((category: string) => (
                        <li x-data={JSON.stringify({ category })} x-bind:class="{ 'text-peach': activeCategories.includes(category) }" class="inline-block after:mx-1 after:content-['·'] last:after:content-none">
                          {category}
                        </li>
                      ))}
                    </ul>
                  </Fragment>
                ) : key === 'link' ? (
                  value && <Link url={value} />
                ) : key === 'tech' ? (
                  <Fragment>
                    {/* prettier-ignore */}
                    <ul>
                      {value.map((item: Tech) => (
                        item.id && <li class="inline after:mx-1 after:text-subtle after:content-['·'] last:after:content-none"><Icon name={item.id} title={item.name} /></li>
                      ))}
                    </ul>
                  </Fragment>
                ) : key === 'period' ? (
                  <TimePeriod {...value} />
                ) : key === 'published' || key === 'issued' ? (
                  <DateComponent date={value} />
                ) : (
                  value
                )}
              </td>
            ))}
        </tr>
      ))
    }
  </tbody>
</table>
