---
import ResumeLayout from '@/layouts/resume.astro'

import SiteHeader from '@/components/SiteHeader.astro'
import SiteFooter from '@/components/SiteFooter.astro'
import IconName from '@/components/IconName.astro'
import Meta from '@/components/Meta.astro'
import TimePeriod from '@/components/TimePeriod.astro'

import type { Org } from '@/models/recivi'
import { orgs } from '@/stores/recivi'
import { addressDisplay } from '@/utils/recivi'
import { roleTypeDisplay, roleLocationDisplay } from '@/utils/recivi'

export async function getStaticPaths() {
  return orgs.map((org) => ({
    params: {
      id: org.id,
    },
    props: {
      org,
    },
  }))
}

interface Props {
  org: Org
}
const { org } = Astro.props

const metadata = {
  title: `Org: ${org.name}`,
  description: `Know more about the org ${org.name} and my work there.`,
  banRobots: true,
}
---

<ResumeLayout>
  <slot
    name="head"
    slot="head">
    <Meta data={metadata} />
  </slot>

  <SiteHeader classes="xl:hidden" />

  <aside class="cntnr my-4">
    <h1 class="text-3xl text-peach sm:text-5xl">
      <IconName {...org} />
    </h1>

    {
      org.address && (
        <p>
          <span class="text-overlay1">Address:</span>
          {addressDisplay(org.address)}
        </p>
      )
    }

    {
      org.description ? (
        <p set:html={org.description} />
      ) : org.summary ? (
        <p set:html={org.summary} />
      ) : undefined
    }

    {
      org.roles.map((role) => (
        <div>
          <h2>
            {role.name}
            {role.type &&
              role.type !== 'full-time' &&
              `(${roleTypeDisplay(role.type)})`}
          </h2>

          <dl class="mb-2 grid grid-cols-[auto_1fr] gap-x-2 [:not(:has(dt))]:hidden">
            {role.period && (
              <Fragment>
                <dt class="text-overlay1">Period:</dt>
                <dd>
                  <TimePeriod {...role.period} />
                </dd>
              </Fragment>
            )}
            {role.location && (
              <Fragment>
                <dt class="text-overlay1">Location:</dt>
                <dd>{roleLocationDisplay(role.location)}</dd>
              </Fragment>
            )}
            {role.epics.length ? (
              <Fragment>
                <dt class="text-overlay1">Epics:</dt>
                <dd>
                  {role.epics.map((epic) => (
                    <IconName
                      {...epic}
                      url={`/resume/epics/${epic.id}`}
                    />
                  ))}
                </dd>
              </Fragment>
            ) : undefined}
          </dl>

          {role.description ? (
            <p set:html={role.description} />
          ) : role.summary ? (
            <p set:html={role.summary} />
          ) : undefined}

          {role.highlights?.length ? (
            <Fragment>
              <h3>Highlights</h3>
              <ul class="mb-4 list-disc pl-4 marker:text-peach">
                {role.highlights?.map((hl) => (
                  <li set:html={hl} />
                ))}
              </ul>
            </Fragment>
          ) : undefined}
        </div>
      ))
    }
  </aside>

  <SiteFooter classes="xl:hidden" />
</ResumeLayout>
